@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wrapper{
  display: flex;
  justify-content: center;
}
.property-wrap{
  display: grid;
  grid-template-columns: repeat(4,20fr);
  grid-column-gap: 2vw;
}
.property img{
  width: 15rem; 
}
.title{
  width: 15rem;
}
.property{
  width: fit-content;
}